.collum-labels
{
    width: 250px;
}
.collum-input
{
    width: 250px;
}
.message-box
{
    /*display: inline;*/
    height: 100px;
    width: 200px;
}
fa-info-circle
{
    display: inline;
}
.bg-black1
{
    background-color: #000001
}
.text-black2
{
    color: #222222
}
